// =============================================================================
// @font-face declarations
// =============================================================================

//Helvetica Neue 55 Roman
@font-face {font-family: 'HelveticaNeueLTStd-Roman';src: url('/fonts/2AE86D_1_0.eot');src: url('/fonts/2AE86D_1_0.eot?#iefix') format('embedded-opentype'),url('/fonts/2AE86D_1_0.woff') format('woff'),url('/fonts/2AE86D_1_0.ttf') format('truetype');}
 
 //Helvetica Neue 55 Italic 
@font-face {font-family: 'HelveticaNeueLTStd-It';src: url('/fonts/2AE86D_4_0.eot');src: url('/fonts/2AE86D_4_0.eot?#iefix') format('embedded-opentype'),url('/fonts/2AE86D_4_0.woff') format('woff'),url('/fonts/2AE86D_4_0.ttf') format('truetype');}
 
//Helvetica Neue 63 Medium Extended  
@font-face {font-family: 'HelveticaNeueLTStd-MdEx';src: url('/fonts/2AE86D_0_0.eot');src: url('/fonts/2AE86D_0_0.eot?#iefix') format('embedded-opentype'),url('/fonts/2AE86D_0_0.woff') format('woff'),url('/fonts/2AE86D_0_0.ttf') format('truetype');}

//Helvetica Neue 63 Medium Extended Oblique   
@font-face {font-family: 'HelveticaNeueLT-MediumExtObl';src: url('/fonts/2AE86D_2_0.eot');src: url('/fonts/2AE86D_2_0.eot?#iefix') format('embedded-opentype'),url('/fonts/2AE86D_2_0.woff') format('woff'),url('/fonts/2AE86D_2_0.ttf') format('truetype');}
 
//Helvetica Neue 85 Heavy
@font-face {font-family: 'HelveticaNeueLTStd-Hv';src: url('/fonts/2AE86D_3_0.eot');src: url('/fonts/2AE86D_3_0.eot?#iefix') format('embedded-opentype'),url('/fonts/2AE86D_3_0.woff') format('woff'),url('/fonts/2AE86D_3_0.ttf') format('truetype');}
 
