
// =============================================================================
// Button
// =============================================================================

.button{
	position:relative;
	display:block;
	margin:1em;
	@include border-radius($border-radius);
	text-decoration:none;
	background-color:rgba(255,255,255,.2);
	color:#fff;
	padding:28px 39px;
	text-align:center;
	text-indent:-9999px;
	&:before{
		@include border-radius($border-radius-medium);
		position:absolute;
		left:8px;
		top:8px;
		right:8px;
		bottom:8px;
		content:"";
		
	}
	&:after{
		@include border-radius($border-radius-small);
		position:absolute;
		text-indent:0;
		left: 16px;
		top:16px;
		right:16px;
		bottom:16px;
		content:"";
		padding:11px 22px;
		content:attr(data-buttontext);
		@include transition(background-color 0.25s ease );
		display:block;
		text-align:center;
		.ltie9 &{
			content: "";
		}
	}
	
}


// Sub Classes

.button--color-primary{&:before{background-color:lighten($color-primary, 20%);}&:after{background-color:$color-primary}&:hover:after{background-color:lighten($color-primary, 5%);}}
.button--color1{&:before{background-color:lighten($color-alt1, 20%);}&:after{background-color:$color-alt1}&:hover:after{background-color:lighten($color-alt1, 8%);}}
.button--color2{&:before{background-color:lighten($color-alt2, 20%);}&:after{background-color:$color-alt2}&:hover:after{background-color:lighten($color-alt2, 8%);}}
.button--color3{&:before{background-color:lighten($color-alt3, 20%);}&:after{background-color:$color-alt3}&:hover:after{background-color:lighten($color-alt3, 8%);}}
.button--color4{&:before{background-color:lighten($color-alt4, 20%);}&:after{background-color:$color-alt4}&:hover:after{background-color:lighten($color-alt4, 8%);}}


.button--large{
	@include border-radius($border-radius);
	padding:40px 58px;
	font-size:ms(1);
	&:before{
		@include border-radius($border-radius-medium);
		left:12px;
		top:12px;
		right:12px;
		bottom:12px;
	}
	&:after{
		@include border-radius($border-radius-small);
		left: 22px;
		top:22px;
		right:22px;
		bottom:22px;
		padding:18px 36px;
	}
}
.button--small{
	@include border-radius($border-radius);
	padding:20px 30px;
	font-size:ms(-1);
	&:before{
		@include border-radius($border-radius-medium);
		left:5px;
		top:5px;
		right:5px;
		bottom:5px;
	}
	&:after{
		@include border-radius($border-radius-small);
		left: 10px;
		top:10px;
		right:10px;
		bottom:10px;
		padding:10px 20px;
	}
}

.button--location{
	position:relative;
	display:block;
	margin:.5em .25em;
	@include border-radius($border-radius);
	text-decoration:none;
	background-color:$color-primary;
	color:#fff !important;
	padding:15px 20px;
	text-align:center;
	background-color:$color-primary;
	display:inline-block;
	&:hover{background-color:lighten($color-primary, 15%)
	}

}
.button--inline{
	margin:.5em;
	text-indent:0;
	display:inline-block;
	&:after{
		display:inline-block;
	}
}

// States

.button--is-disabled{
	background-color:$color-subtle;
	color:#ccc;
	cursor:pointer;
}

